@{
    bool IsUserLoggedIn = false;
    var currentUser = Common.Utilities.GetCache<Entities.SessionModels.CurrentUser>(Common.Constants.CacheKeys.CurrentUser);
    if (currentUser != null)
    {
        IsUserLoggedIn = true;
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>@ViewBag.Title - INS1 World Cup Bet</title>

    <!--CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Jura|Patrick+Hand+SC" rel="stylesheet">
    <link href="~/Content/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/css/custom/main.css" type="text/css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/images/favicon.png">
    @RenderSection("styles", required: false)
</head>

<body class="grey lighten-4">
    <div id="loader_area"><div class="loader"></div></div>

    <div class="navbar-fixed">
        <nav class="primary-color" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/Home/Index" class="brand-logo">INS1 BET</a>
                <ul class="right hide-on-med-and-down">
                    @if (IsUserLoggedIn && currentUser.UserRole == 1)
                    {
                        <li>
                            <a href="/Admin/AdminIndex">Admin Page</a>
                        </li>
                    }

                    @if (!IsUserLoggedIn)
                    {
                        <li>
                            @Html.ActionLink("Đăng nhập", "Login", "Home")
                        </li>
                    }
                    else
                    {
                        <li>
                            @Html.ActionLink("Lịch sử giao dịch", "UserHistory", "User")
                        </li>
                        <li>
                            @Html.ActionLink("Đăng xuất", "Logoff", "Home")
                        </li>
                        <li>
                            <a href="/User/UserProfile">Xin chào, @currentUser.Fullname!</a>
                        </li>
                    }


                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li>
                        <a href="login.html">Đăng nhập</a>
                    </li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>
    </div>

    <!--Body here-->
    @RenderBody()
    <!--End Body-->

    <footer class="page-footer primary-color">
        <div class="container">
            <div class="row">
                <div class="col s3">
                    <h5 class="white-text">INS1</h5>
                    <p class="grey-text text-lighten-4">We are one.</p>
                </div>
                <div class="col s3">
                    <p class="grey-text text-lighten-4">
                        <b>Phương thức nạp tiền vào tài khoản:</b>
                    </p>
                </div>
                <div class="col s6">
                    <p class="grey-text text-lighten-4">
                        <ol>
                            <li>Đến nạp tiền mặt cho HằngNTQ</li>
                            <li>
                                Chuyển khoản cho HằngNTQ:<br />
                                <i>
                                    STK: 00036469001<br />
                                    CTK: Nguyễn Thị Quỳnh Hằng <br />
                                    Cú pháp: INS1BET_Account
                                </i>
                            </li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                &copy; @DateTime.Now.Year -
                <a class="secondary-text-color" href="#">INS1</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.js"></script>
    <script src="~/Scripts/js/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>